{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "DEBUG": true
  },
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "max-len": [2, 140]
  }
}
